#explorer {
    padding:70px 0px 70px 0px;
    height: 600px;
}
#tree-view {
    vertical-align: top;
}

#detail-view {
    padding:70px 0px 70px 0px;
}

#body {
    height: 100vh;
}

.card.border {
    height: 400px;
}

.desk-edit-btn {
    height: 20px;
    width: 20px;
    background: url('/static/bbwdesk/img/Edit_icon.svg');
    background-size: cover;

}


#explorer .btn-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#explorer .btn-bar li {
    display: inline;
} 

/* Rules for the nested Explorer Tree View */

.tree-nested-head {
    cursor: pointer;
    user-select: none;
}

.tree-nested {  
    display: none;
}

.tree-active {
    display: block;
}

