body {
    padding: 0;
    margin: 0;
    background: #ffff;
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#50C878;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

/*  Dropdown Menu */

.dropdown>.btn-sm 
{
  background-color: #fff;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
}