<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static "base/css/bootstrap.min.css" %}">
        <!-- MDB CSS-->
        <link rel="stylesheet" href="{% static "base/css/mdb.min.css" %}">
        <link href="{% static "base/css/addons/datatables.min.css" %}" rel="stylesheet">
        <link href="{% static "base/css/addons/datatables-select2.min.css" %}" rel="stylesheet">

        <!-- Base CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">

        <!-- Site Specifc CSS-->
        {% block css-block %}

        {% endblock%}

        <title>BBWDesk</title>
    </head>

    
    <body>
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then MD Boostrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static "base/js/mdb.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bbwdesk/js/base.js" %}"></script>
        
         <!--  Cross-Site Navbar-->
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="{% url "bbwdesk:index" %}">BBWDesk</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="hello-msg"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Documentation</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Hello, {{ request.user }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="{% url 'bbwdesk:index' %}">Dashboard</a>
                              <a class="dropdown-item" href="{% url 'aduseradmin:account' %}">Accout Management</a>
                              <a class="dropdown-item" href="{% url 'bbwdesk:admin' %}">Admin Page</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'aduseradmin:logout' %}">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <a class="nav-link" href="{% url 'aduseradmin:login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'bbwdesk:index' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active">Data</li>
            </ol>
          </nav>

        {% block content_block %}
        {% endblock %}

        
    </body>
</html>