{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}
{% load static %}

{% block css-block %}
<link rel="stylesheet" href="{% static "bbwdesk/css/adminPage.css" %}">
{% endblock%}

{% block content_block %}
<!-- DataTables JS -->
<script src="{% static "base/js/addons/datatables2.min.js" %}" type="text/javascript"></script>
<!-- DataTables Select JS -->
<script src="{% static "base/js/addons/datatables-select2.min.js" %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static "bbwdesk/js/modules/DetailView.js" %}"></script>
<script type="text/javascript" src="{% static "bbwdesk/js/adminPage.js" %}"></script>


<div class="container" id="head">
    <h2>Admin-Dashboard</h2>
</div>
<div class="container mt-1 " id="body">
    <div class="row">
        <div class="col-3" id="explorer">
            <div class="card border h-100">
                <div class="card-body">
                    <ul class="tree-view"></ul>
                    <ul class="btn-bar">
                        <li><button id="createGroup" type="button">Create Group</button></li>
                        <li><button id="createUser" type="button">Add User</button></li>
                    </ul>
                </div> 
            </div>
        </div>
            
        <div class="col-sm-9" id="detail-view">
            <div class="card border h-100">
                <div class="card-body">
                    <table class="display table" id="assign-detail"> 
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Editor</td>
                                <td>Actors</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div> 
            </div>
            
        </div>  
            
    
        
    </div>

</div>



{% endblock %}