{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}


{% block content_block %}
{% load static %}
<script type="text/javascript" src="{% static "bbwdesk/js/taskIndex.js" %}"></script>
<!-- DataTables JS -->
<script src="{% static "base/js/addons/datatables2.min.js" %}" type="text/javascript"></script>
<!-- DataTables Select JS -->
<script src="{% static "base/js/addons/datatables-select2.min.js" %}" type="text/javascript"></script>

<div class="jumbotro text-center" id="dashboard-head">
    <h2> User-Dashboard </h2>
</div>

<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-3 " id="assignments">
            <table id="assignment_table" class="table  table-bordered table-sm" cellspacing="0"
            width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">My Assigments
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for assign in assignments %}
                    <tr>
                        <td assign_id="{{ assign.id }}">{{ assign.name }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        
        
        <div class="col-sm-9 " id="tasks">
            <h3>My Tasks</h3>
                <table id="obj-table" 
                class="table table-hover table-bordered " 
                cellspacing="0"
                width="100%" >
                    <thead>
                    <tr>
                        <th class="th">Task</th> 
                        <th class="th">Actors</th>
                        <th class="th">Priority</th>
                        <th class="th">Status</th>
                        <th class="th">Deadline</th>
                    </tr>
                    </thead>
                    
                    <tbody>
               
                    </tbody>
                </table>
        </div>
    </div>
</div>


{% endblock %}