{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}


{% block content_block %}

<form action="" method="POST"> 
    {% csrf_token %}
    <table>
        {{ form }}
    </table>

    <input type="submit" value="Create Task">
</form>


{% endblock %}