{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}


{% block content_block %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ task }}"?</p>
    <input type="submit" value="Confirm">
</form>   

{% endblock %}
