{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}

{% block css-block %}
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bbwdesk/css/taskEdit.css' %}">

{% endblock %}

{% block content_block %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Save">
    </form>
    <form action="{% url 'bbwdesk:task_delete' task.id %}" method="GET"> {% csrf_token %}
        <input type="submit" value="Delete">
    </form>


{% endblock %}