{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}

{% block content_block %}
<ul class="list-group list-group-flush">
    
    <li class="list-group-item">
        <div class="container">
            <p><strong>Title: </strong> {{task.title}} </p>
            <p><strong>Description: </strong> {{ task.description }}</p>
            <p><strong>Users: </strong> 
            {% for user in users %} 
               {{ user.initals }}
            {% endfor %}</p>
            <p><strong>Deadline: </strong> {{ task.deadline }}</p>
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
            <p><strong>Priority: </strong> {{ task.priority }} </p>
            <p><strong>Status: </strong> {{ task.status }}</p>
            <p><strong>Progress: </strong> {{ task.progress }}</p>
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
            <button type="button" class="btn btn-primary " onclick="location.href='{% url 'bbwdesk:task_edit' task.id %}';">Edit Task</button>
            <button type="button" class="btn btn-primary " onclick="location.href='{% url 'bbwdesk:task_submit' task.id %}';"> Submit Results</button>
        </div>
    </li>
</ul>


{% endblock %}