{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}

{% block css-block %}

{% endblock%}

{% block content_block %}
<ul class="list-group list-group-flush">
    
    <li class="list-group-item">
        <div class="container"> 
            {% csrf_token %}
            <form action="" method="POST">
                {% csrf_token %}
               
                <input type="submit" value="Create User">
            </form>
       
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
  
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
            <button type="button" class="btn btn-primary " onclick="location.href='#';">Delete User</button>
        </div>
    </li>

</ul>

{% endblock %}