{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}

{% block css-block %}

{% endblock%}

{% block content_block %}
<ul class="list-group list-group-flush">
    
    <li class="list-group-item">
        <div class="container">
            <p>{{user.username}}</p>
            <p>{{user.first_name}}</p>
            <p>{{user.last_name}}</p>
            <p>{{detail.initals}}</p>
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
  
        </div>
    </li>


</ul>

{% endblock %}