{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}

{% block css-block %}

{% endblock%}

{% block content_block %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ user }}"?</p>
    <input type="submit" value="Confirm">
</form>   
{% endblock %}
