{% extends 'bbwdesk/base.html' %}
{% load bbwdesk_extras %}

{% block css-block %}

{% endblock%}

{% block content_block %}

<form action="" method="POST"> 
    {% csrf_token %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="container">
                    {{ user_f.username.label }} {{ user_f.username }}
                    Passwort {{ user_f.password1 }} 
                    Passwort bestätigen {{ user_f.password2 }} 
                    {{ detail_f.initals.label }} {{ detail_f.initals }}
                    <input type="submit" value="Create">
            </div>
        </li>
        {% for msg in messages%}
        <li><p id="messages">{{msg}}</p></li>
    {% endfor %}
    </ul>
</form>

{% endblock %}